* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    -webkit-font-smoothing: antialiased; /* Suavização de fontes */
    text-rendering: optimizeLegibility;
}


/* ============ Pagina de Escolha de Template ============ */
.corpoTemplate {
    display: flex;
    align-items: center;
    flex-direction: column;

    border: 1px solid black;
}



/* ============ Formulario, Barra de Progresso, Visuzalização Interativa CV============*/

/* ============ barra de progresso ============ */
.progresso {
    position: fixed;
    width: 18%;
    height: 100vh;
    background-color: #092347;
    padding: 4em 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleProgress {
    color: #ffffff;
    font-size: 1.5em;
    margin: 1em 0;
}

.linha {
    position: absolute;
    margin-top: 1em;
    margin-left: 13%;
    height: 45%;
    border: 2px dashed black;
}

.stepProgress {
    display: flex;
    padding: 1em;
    align-items: center;
}

.stepNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.2em;
    height: 2.2em;
    min-width: 28px;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 0.8rem;
    z-index: 1;
    color: white;
    background-color: #092347;
    border: 2px solid white;
}

.stepActive {
    border: none;
    background-color: #f0c78a;
    box-shadow: 0 1px 10px #c98a30;
}

.stepName {
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
}



.corpoDados {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    min-height: 100vh;
}

form {
    width: 60vw;
    margin-left: 15rem;
}

section {
    margin-top: 2.8em;
}

.step {
    display: none;
    width: 100%;
    padding: 3em;

    background: white;
    border-radius: 10px;
}

.step h1 {
    padding-left: 7px;
}

.step p {
    color: #1C3C67;
    font-weight: 600;
    padding-left: 7px;
    margin-bottom: 10px;
}

.active {
    display: block;
}

fieldset {
    display: flex;
    border: none;
}


h1 {
    font-size: clamp(2rem, 5vh, 6rem);
    color: #092347;

    margin-bottom: 1rem;
}

.conteiner {
    flex: 1;
    padding: 0.5em;
    justify-content: center;
}

.conteiner label {
    display: block;
    padding: 0.2em 0;
    color: #092347;
}

label {
    font-size: clamp(0.5rem, 0.7em, 2.5rem);
    text-transform: uppercase;
    font-weight: 600;
}

.conteiner input {
    font-size: 1.2rem;
    padding: 0.7em 1em;
    width: 100%;
    border: 1px solid #7c89ad;
}

input:focus {
    border: 1px solid #002d6b;
}

.conteinerbtn {
    display: flex;
    justify-content: space-around;
    margin: 1.4em 1em;
}

.button {
    font-family: "Nunito", sans-serif;
    font-size: 1.3em;
    text-decoration: none;
    padding: 0.5em 3em;
    border-radius: 1em;
    border: none;
    transition: all 0.3s ease;
}

.button:hover {
    transform: translate(0px, -5px);
}

.next-step {
    color: white;
    background-color: #1A73E8;
}

.next-step:hover {
    outline: none;
    background-color: #0d5bc5;
}

.prev-step {
    border: 1px solid black;
}

select {
    font-size: 1.3em;
    width: 100%;
    height: 2.6em;
    border: 1px solid #7c89ad;
    background-color: white;
}

textarea {
    width: 100%;
    height: 40vh;
    font-size: 1.2em;
    padding: 1em;
    border: 1px solid #7c89ad;
    border-radius: 1px;
}

textarea:focus {
    outline: none;
    border-color: #0066cc;
    box-shadow: 0 0 0 5px rgba(0, 102, 204, 0.2);

}



.finishSV{
    /* display: flex; */
}

.finishSV p {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    font-weight: 400;
    line-height: 1.6;
    color: #0F4C75;  

    margin-bottom: 2em;
}

.finishSV a {
    background-color: #02818c;
    border: 1px solid black;
}



/* ================= Visuzalizaçõ CV ================= */
.visualizacaoCV {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    right: 2em;
    margin-top: 2px;
    transform: scale(0.383);
    transform-origin: right;
}

/* .btnCV {
    width: 20vw;
    height: 10vh;
    font-size: 2.5em;
    border-radius: 1em;
    cursor: pointer;
} */

/* .btnCV:hover {
    border: 1px solid red;
} */


#conteinerCV {
    margin: 1.4em 0;
    cursor: pointer;
    border: 1px solid #7c89ad;
    box-shadow: 1;
    transition: all 0.3s ease;
}

#conteinerCV:hover {
    border: 5px solid #7c89ad;
}

.conteinerCVExpandido {
    transform:translate(-100vw, -0%) scale(1.5) scaleX(1.2);
}

/* .fundoDesfoque {
    opacity: 0;
}

.fundoDesfoqueActive {
    position: fixed;
    left: 0;
    right: 0;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    background-color: red;
} */



/* ================= PAGINA DE DONWLOAD ================= */

.conteinerPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteinerPrincipal header {
    width: 100%;
}

.menu {
    height: 4.4em;
    padding: 2% 8%;

    background-color: #F9FAFB;
    /* border: 1px solid black; */
}

.conteinerPrincipal main {
    width: 75vw;
}


.title {
    margin: 1em 0;
}

.title h1 {
    font-size: 36px;
}

.title p {
    width: 60%;
    font-weight: 100;
    font-size: 1.1rem;
    color: #092347;
}


.visualizaCV {
    display: flex;
    flex-direction: row;
}

.btnConteiner {

}

.btnList {
    list-style-type: none;
    padding: 0.2em;
}

.btn {
    cursor: pointer;
    list-style-type: none;
    width: 3.2vw;
    height: 3.2vw;
    border-radius: 100%;
    background-color: #ffffff;
    border: 1px solid #002D6B;
    transition: all 0.1s ease;
}

.btn:hover {
    /* background-color: #1A4B94; */
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 45, 107, 0.35);
}

.icon {
    /* transform: scale(1); */
    font-size: 1.3em;
    color: #002D6B;
}


.conteinerCV {
    margin: 0 0 5em 4em ;
    box-shadow: 0 6px 16px rgba(0, 45, 107, 0.35);


    /* border: 1px solid black; */
}

